body{
    color: white;
}

.about-text{
    padding-left: 5rem;
    padding-top: 8rem;
}

a.resume-link {
    color: blue;
    display: inline-block;
}

@media screen and (max-width:850px){
    .about-text{
        padding-left: 1rem;
        padding-top: 5.5rem;
    }
}