@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.about-text{
    padding-left: 5rem;
    padding-top: 8rem;
    padding-right: 35%;
}

a.resume-link {
    color: rgb(84, 84, 224);
    display: inline-block;
}

@media screen and (max-width:850px){
    .about-text{
        padding-left: 1rem;
        padding-top: 3.5rem;
        padding-right: 0;
    }
}