@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.about-container{
    display: flex;
    flex-direction: row;
    
}

.skills-container {
    margin-left:10rem;
    margin-top: 6.5rem;
    padding-right: 7rem;
    display: flex;
    flex-direction: column;
  }
  
  .skills-container ul {
    width: 100%;
    list-style-type: none;
    
    padding-left: 0; /* Set padding-left to 0 */
    padding-right: 3rem;
    display: flex; /* Set display to flex */
    flex-wrap: wrap; /* Allow items to wrap */
  }
  
  .skills-container ul li {
    background-color: whitesmoke;
    color: rgb(43, 43, 43);
    border-radius: 0.5rem;
    padding: 4px 5px;
    font-weight: bold;
    text-align: center;
    margin-right: 0.5rem; /* Add margin between items */
    margin-bottom: 0.7rem; /* Add margin between rows */
  }
.about-text{
    padding-left: 5rem;
    padding-top: 5rem;
    
}

a.resume-link {
    color: rgb(84, 84, 224);
    display: inline-block;
}

@media screen and (max-width:850px){
    .about-text{
        padding-left: 1rem;
        padding-top: 2rem;
        
    }

    .about-container{
        display: flex;
        flex-direction: column;
    }

    .text-contact{
        width: 100%;
      
        padding-right: 7rem;
    }

    .skills-container{
        margin-left: 1rem;
        padding-right: 0;
        margin-top: 3rem;
    }
}