

.details-list{
    margin-top: 5rem;
    margin-left: 5rem;
    color: yellow;
}

@media screen and (max-width:850px){
    .details-list{
        margin-top: 4rem;
        margin-left: 1rem;
    }
}