.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left:3rem;
    margin-right: 2rem;
}

.pro-1{
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    width: 90%;
    padding: 1rem 0.8rem;
    margin-right: 1rem;
    
}

.heading{
    
    text-align: center;
    margin-top: 3rem;
    padding: 0 0;   
}

.min-head{
    font-size: large;
}

@media screen and (max-width:850px){
    .heading{
        margin-left: 0rem;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 0rem;
        margin-left: 0rem;
        
    }
    .pro-1{
        margin-left: 0;
        margin-right:0.5rem;
        margin-bottom: 0.5rem;
        width: 9rem;
        margin-top: 0rem;
    }
    .min-head{
        font-size: medium;
    }
    .para{
        font-size: small;
    }
}