.title-text{
    
    display: flex;
    flex-direction: column;
}

.img-heading-para{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.links-on{
    margin-top: 3.3rem;
    padding-left: 4rem;
    padding-right: 1rem;
    white-space: pre-wrap;
}

.img-title{
    display: flex;
}

.card-off{
    background-color: rgb(36, 36, 36);
    padding: 1rem 1rem;
    display: flex;
    transition: 0.2s;
    margin: 1rem 3rem;
    border-radius: 10px;
    
}


.card-on{
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 36, 36);
    margin-bottom: 1rem;
    margin-left: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    padding-left: 1rem;
    margin-right: 3rem;
    padding-right: 0rem;
    margin-top: 2rem;
}



.project-text-off{
    padding-left: 5%;
   
}


.pro-heading-off{
    margin-top: 4rem;
    margin-left: 30rem;
    transition: 0.2s;
 
}

.pro-heading-on{
    margin-top: 0rem;
    margin-left: 4rem;
    transition: 0.2s;
}

.image-small{
    margin-right: 7rem;
    max-height: 150px;
    transition: 0.2s;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    object-fit: cover;

}

.image-big{
    height: 300px;
    transition: 0.2s;
    border-radius: 7px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
}

.para-on{
    width: 450px;
    padding-left: 4rem;
    
    margin-top: 1rem;
    white-space: pre-wrap;
}

.para-off{
    transition: 0.2s;
    width: 500px;
    margin-left: 15rem;
    margin-top: 2rem;
}

@media screen and (max-width:850px){
    .links-on{
        padding-left: 0;
        padding-right: 0;
        white-space: pre-wrap;
        font-size: 14px;
    }

    .image-small{
        height: 100px;
        margin-right: 0rem;
    }

    .image-big{
        margin-left: 0.2rem;
        height: 200px;
        object-fit: cover;
    }    

    .pro-heading-off{
        margin-left:2.5rem;
        margin-top: 2rem;
        font-size: medium;
    }

    .card-off{
        display: flex;
        flex-direction: row;
        margin: 0.5rem 0.5rem;
    }

    .project-text-off{
        padding-left: 0rem;
        margin-left: -14.5rem;

    }

    .pro-heading-on{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0.3rem; 
        font-size: large;
    }

    .para-off{
        width: 320px;
    }

    .para-on{
        margin: 0 0;
        padding: 0 0;
        font-size: 14px;
        width: 100%;
        white-space: pre-wrap;
    }

    .card-on{
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        margin-bottom: 1rem;
        margin-right: 0rem;
        padding: 0.5rem 0.5rem;
    }

    .img-title{
        display: flex;
        flex-direction: row;
    }
}